.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.Modal {
  font-family: sans-serif;
  background-color: #e3ecff;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
  position: absolute;
  margin-left: 35vw;
  margin-top: 150px;
}

.Header {
  font-weight: bold;
}

.Footer {
  display: flex;
  gap: 10px;
}

.Items-List {
  margin: 20px;
}

.Item {
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}
